
a{color:#ef4723;}
.navbar{margin-bottom:0px;}
.hero{background:url("/site/codeigniter/resources/images/logo_black.png") #010101 no-repeat 50% 0;background-attachment:fixed;color:#DDD;padding:100px 10px 0px 10px;height:300px;margin-bottom:0px;width:100%;}
.hero-home{height:600px;}.hero-home .hero-scroller{display:block;}
.slogan .slogan-text{padding-bottom:200px;padding-top:200px;}
.footer{margin-top:0px;padding-top:40px;padding-bottom:40px;background-color:#92928d;color:#1e1e1c;font-size:smaller;text-align:center;}.footer a{color:#1e1e1c;text-decoration:underline;}
.main-container{min-height:600px;padding-top:0px;}
.zone-text{padding-top:100px;padding-bottom:100px;}.zone-text h2{text-align:center;margin:40px 0px;border-top:1px rgba(60, 60, 60, 0.5) solid;border-bottom:1px rgba(60, 60, 60, 0.5) solid;background-color:rgba(255, 255, 255, 0.2);}
.zone-text h3{border-top:1px rgba(60, 60, 60, 0.5) solid;margin-top:40px;}
.bg_1{background-color:#ef4723;color:#FFF;}
.bg_2{background-color:#f15a22;color:#FFF;}
.bg_3{background-color:#f58220;color:#FFF;}.bg_3 a{color:#6d380b;}
.bg_4{background-color:#faa519;color:#FFF;}.bg_4 a{color:#6d380b;}
.bg_5{background-color:#e6b122;color:#FFF;}
.bg_6{background-color:#65a0cd;color:#222;}.bg_6 a{color:#0f4268;}
.bg_7{background-color:#4299d4;color:#FFF;}.bg_7 a{color:#0f4268;}
.bg_8{background-color:#509ed7;color:#FFF;}
.bg_9{background-color:#abafa7;color:#000;}
.bg_10{background-color:#92928d;color:#FFF;}
