
a{color:#ef4723;}
.navbar{margin-bottom:0px;}
.hero{background:url("/site/codeigniter/resources/images/logo_black.jpg") #010101 no-repeat 50% 0;background-attachment:fixed;color:#DDD;padding:100px 10px 0px 10px;height:300px;margin-bottom:40px;width:100%;}
.hero-home{height:600px;}.hero-home .hero-scroller{display:block;}
.slogan .slogan-text{padding-bottom:200px;padding-top:200px;}
.footer{margin-top:40px;padding-top:40px;padding-bottom:40px;background-color:#555;color:#999;font-size:smaller;}
.main-container{min-height:600px;padding-top:60px;}
