*/config/development
*/logs/log-*.php
*/logs/!index.html
*/cache/*
*/cache/!index.html
/content
/application/config/mongodb.php
application/config/10layer.php
.vagrant/
.DS_Store
application/config/mongodb.php
codekit-config.json
