a {
  color: #FF0000;
}
.nav .brand {
  padding: 0px 20px;
}
.datetime_hour,
.datetime_minute {
  width: 20px;
}
.main_form_container {
  padding-bottom: 60px;
}
.new,
.new a {
  color: #CB0011;
}
.edited,
.edited a {
  color: #F89614;
}
.published,
.published a {
  color: #3A962E;
}
